<p id="notice"><%= notice %></p>

<h1><%= @tour.title %></h1>

<p>
  <%= @tour.teaser %>
</p>

<p>
	<iframe height="400" width="600" src="<%= iframe_url(@tour)%>"></iframe>
</p>

<p>
  <b>Description:</b>
  <%= @tour.description %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>